In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Messidor/Groundtruths.csv')

df0 = df.loc[df['Retinopathy grade']==0]
df1 = df.loc[df['Retinopathy grade']==1]
df2 = df.loc[df['Retinopathy grade']==2]
df3 = df.loc[df['Retinopathy grade']==3]

In [3]:
print(len(df0))
print(len(df1))
print(len(df2))
print(len(df3))

546
153
247
254

In [4]:
from sklearn.utils import shuffle

df0 = shuffle(df0, random_state=27)
df1 = shuffle(df1, random_state=27)
df2 = shuffle(df2, random_state=27)
df3 = shuffle(df3, random_state=27)

In [5]:
def train_val_test_split(df, train_frac = 0.64, val_frac = 0.16):
    full_len = len(df)
    train_len = round(full_len*train_frac)
    val_len = round(full_len*val_frac)
    
    df_train = df.iloc[:train_len, :]
    df_val = df.iloc[train_len:train_len+val_len, :]
    df_test = df.iloc[train_len+val_len:]
    
    return df_train, df_val, df_test

In [6]:
df_train0, df_val0, df_test0 = train_val_test_split(df0)
df_train1, df_val1, df_test1 = train_val_test_split(df1)
df_train2, df_val2, df_test2 = train_val_test_split(df2)
df_train3, df_val3, df_test3 = train_val_test_split(df3)

In [7]:
train = pd.concat([df_train0, df_train1, df_train2, df_train3])
val = pd.concat([df_val0, df_val1, df_val2, df_val3])
test = pd.concat([df_test0, df_test1, df_test2, df_test3])

print(len(train), len(val), len(test))

768 192 240

In [8]:
train.head()

                      Image name  Retinopathy grade  Risk of macular edema
920   20060407_46070_0200_PP.tif                  0                       0
916   20060407_45852_0200_PP.tif                  0                       0
1123  20060412_58054_0200_PP.tif                  0                       0
405   20051020_44261_0100_PP.tif                  0                       0
172   20051130_60794_0400_PP.tif                  0                       0

In [9]:
train.to_csv('Messidor/train.csv', index=False)
val.to_csv('Messidor/val.csv', index=False)
test.to_csv('Messidor/test.csv', index=False)

In [10]:
df_demo = pd.read_csv('Messidor/train.csv')
df_demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Image name              768 non-null    object
 1   Retinopathy grade       768 non-null    int64
 2   Risk of macular edema   768 non-null    int64
dtypes: int64(2), object(1)
memory usage: 18.1+ KB

In [2]:
idrid = 'IDRiD/B. Disease Grading/1. Original Images/a. Training Set'

df = pd.read_csv('IDRiD/B. Disease Grading/2. Groundtruths/a. IDRiD_Disease Grading_Training Labels.csv')

df0 = df.loc[df['Retinopathy grade']==0]
df1 = df.loc[df['Retinopathy grade']==1]
df2 = df.loc[df['Retinopathy grade']==2]
df3 = df.loc[df['Retinopathy grade']==3]
df4 = df.loc[df['Retinopathy grade']==4]

In [3]:
print(len(df0))
print(len(df1))
print(len(df2))
print(len(df3))
print(len(df4))

134
20
136
74
49

In [11]:
from sklearn.utils import shuffle

df0 = shuffle(df0, random_state=27)
df1 = shuffle(df1, random_state=27)
df2 = shuffle(df2, random_state=27)
df3 = shuffle(df3, random_state=27)
df4 = shuffle(df4, random_state=27)

In [10]:
def train_val_split(df, train_frac = 0.8, val_frac = 0.2):
    full_len = len(df)
    train_len = round(full_len*train_frac)
    val_len = round(full_len*val_frac)
    
    df_train = df.iloc[:train_len, :]
    df_val = df.iloc[train_len:train_len+val_len, :]
    
    return df_train, df_val

In [12]:
df_train0, df_val0 = train_val_split(df0)
df_train1, df_val1 = train_val_split(df1)
df_train2, df_val2 = train_val_split(df2)
df_train3, df_val3 = train_val_split(df3)
df_train4, df_val4 = train_val_split(df4)

In [13]:
train = pd.concat([df_train0, df_train1, df_train2, df_train3, df_train4])
val = pd.concat([df_val0, df_val1, df_val2, df_val3, df_val4])

print(len(train), len(val))

330 83

In [14]:
train.head()

,Image name,Retinopathy grade,Risk of macular edema,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
311,IDRiD_312,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,IDRiD_177,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,IDRiD_149,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
358,IDRiD_359,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,IDRiD_146,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
train.to_csv('IDRiD/train.csv', index=False)
val.to_csv('IDRiD/val.csv', index=False)

In [16]:
df_demo = pd.read_csv('IDRiD/train.csv')
df_demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Image name              330 non-null    object
 1   Retinopathy grade       330 non-null    int64
 2   Risk of macular edema   330 non-null    int64
 3   Unnamed: 3              0 non-null      float64
 4   Unnamed: 4              0 non-null      float64
 5   Unnamed: 5              0 non-null      float64
 6   Unnamed: 6              0 non-null      float64
 7   Unnamed: 7              0 non-null      float64
 8   Unnamed: 8              0 non-null      float64
 9   Unnamed: 9              0 non-null      float64
 10  Unnamed: 10             0 non-null      float64
 11  Unnamed: 11             1 non-null      object
dtypes: float64(8), int64(2), object(2)
memory usage: 31.1+ KB

In [3]:
eyepacs = 'EyePACS/eyepacs_preprocess/eyepacs_preprocess'

df = pd.read_csv('EyePACS/trainLabels.csv')

df0 = df.loc[df['level']==0]
df1 = df.loc[df['level']==1]
df2 = df.loc[df['level']==2]
df3 = df.loc[df['level']==3]
df4 = df.loc[df['level']==4]

In [4]:
print(len(df0))
print(len(df1))
print(len(df2))
print(len(df3))
print(len(df4))

25802
2438
5288
872
708

In [5]:
from sklearn.utils import shuffle

df0 = shuffle(df0, random_state=27)
df1 = shuffle(df1, random_state=27)
df2 = shuffle(df2, random_state=27)
df3 = shuffle(df3, random_state=27)
df4 = shuffle(df4, random_state=27)

In [5]:
df_train0, df_val0, df_test0 = train_val_test_split(df0)
df_train1, df_val1, df_test1 = train_val_test_split(df1)
df_train2, df_val2, df_test2 = train_val_test_split(df2)
df_train3, df_val3, df_test3 = train_val_test_split(df3)
df_train4, df_val4, df_test4 = train_val_test_split(df4)

In [6]:
train = pd.concat([df_train0, df_train1, df_train2, df_train3, df_train4])
val = pd.concat([df_val0, df_val1, df_val2, df_val3, df_val4])
test = pd.concat([df_test0, df_test1, df_test2, df_test3, df_test4])

print(len(train), len(val), len(test))

264 66 83

In [7]:
train.head()

,Image name,Retinopathy grade,Risk of macular edema,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
117,IDRiD_118,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,IDRiD_138,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,IDRiD_139,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,IDRiD_140,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,IDRiD_141,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
train.to_csv('EyePACS/train.csv', index=False)
val.to_csv('EyePACS/val.csv', index=False)
test.to_csv('EyePACS/test.csv', index=False)

In [9]:
df_demo = pd.read_csv('EyePACS/train.csv')
df_demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Image name              264 non-null    object
 1   Retinopathy grade       264 non-null    int64
 2   Risk of macular edema   264 non-null    int64
 3   Unnamed: 3              0 non-null      float64
 4   Unnamed: 4              0 non-null      float64
 5   Unnamed: 5              0 non-null      float64
 6   Unnamed: 6              0 non-null      float64
 7   Unnamed: 7              0 non-null      float64
 8   Unnamed: 8              0 non-null      float64
 9   Unnamed: 9              0 non-null      float64
 10  Unnamed: 10             0 non-null      float64
 11  Unnamed: 11             0 non-null      float64
dtypes: float64(9), int64(2), object(1)
memory usage: 24.9+ KB